## Import packages:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from datetime import datetime

### Define functions:

In [350]:
def ColumnsToUse(cols, x_cols):
    return [col for col in cols if col not in x_cols]

def AirlineDataframe(airline, df):
    df = df[df.Airline == airline].drop(columns=['Airline'])
    return df

def AirlineWeeklyDestinations(airline, df):
    df_airline = df[df.Airline == airline]
    airline_weekly_destinations = df_airline.groupby(['Destination', 'Week'])['Confirmed'].count()
    return airline_weekly_destinations.unstack()

def AirlineWeekdaysDestinations(airline, df):
    df_airline = df[df.Airline == airline]
    airline_weekly_destinations = df_airline.groupby(['Destination', 'WeekDay'])['Confirmed'].count()
    return airline_weekly_destinations.unstack()

### Read datasets:

In [265]:
df_orig = pd.read_pickle(os.path.join("FlightData", "flight_departures.pickle"))
df_actual = df_orig[df_orig.Scenario == "Actual"]
df_plan = df_orig[df_orig.Scenario == "Plan"]

minDate = max(min(df_orig[df_orig.Scenario == 'Actual'].Date), min(df_orig[df_orig.Scenario == 'Plan'].Date))
maxDate = min(max(df_orig[df_orig.Scenario == 'Actual'].Date), max(df_orig[df_orig.Scenario == 'Plan'].Date))

## Destinations for Airlines:

In [269]:
dest_iceair = df_actual[df_actual.Airline == 'Icelandair'].Destination.unique()
dest_play = df_actual[df_actual.Airline == 'Play'].Destination.unique()

array(['Berlin Brandenburg', 'London Stansted', 'Barcelona', 'París CDG',
       'Kaupmannahöfn', 'Alicante', 'Tenerife South'], dtype=object)

### Dataset for comparison between Actual & Plan:

In [174]:
df_a = df_actual[(df_actual.Date >= minDate) & (df_actual.Date <= maxDate)].reset_index(drop=True)
df_p = df_plan[(df_plan.Date >= minDate) & (df_plan.Date <= maxDate)].reset_index(drop=True)
df_p = df_p.drop(columns=['Scenario', 'Confirmed'])
df = pd.merge(df_p, df_a[['Date', 'FlightNumber', 'Confirmed']], on=['Date', 'FlightNumber'], how="left")
df = df[df.Week < max(df.Week)]

## Cancellations per week for all airlines:

In [179]:
cancelled = df[df['Confirmed'].isnull()].fillna(1)
cancelled_count = cancelled.groupby(['Airline', 'Week',])['Confirmed'].count()
cancelled_count.unstack()

Week,29,30,31,32,33,34,35,36,37,38
Airline,,,,,,,,,,
Air Greenland,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Arkia - Israeli Airlines Ltd,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
Atlantic Airways,NaN,2.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
British Airways,NaN,2.0,NaN,NaN,NaN,2.0,1.0,1.0,1.0,1.0
Czech Airlines,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0
Delta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Eurowings,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Icelandair,12.0,43.0,6.0,14.0,2.0,6.0,62.0,85.0,106.0,108.0
Neos,NaN,NaN,NaN,NaN,2.0,1.0,5.0,5.0,5.0,5.0
Play,NaN,NaN,NaN,NaN,NaN,NaN,2.0,7.0,5.0,7.0
SAS,NaN,1.0,1.0,2.0,2.0,3.0,7.0,7.0,4.0,7.0
Transavia,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,2.0
United Airlines,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN
Vueling,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,4.0,4.0
Wizz Air,NaN,1.0,NaN,NaN,9.0,9.0,9.0,13.0,14.0,14.0

## Cancellations for Airline:

In [303]:
airline_cancel = AirlineDataframe('Icelandair', cancelled) #cancelled[cancelled.Airline == 'Play'].drop(columns=['Airline'])
cancelled.Airline.unique()

array(['Icelandair', 'Atlantic Airways', 'Wizz Air', 'British Airways',
       'SAS', 'United Airlines', 'Air Greenland', 'Neos', 'Eurowings',
       'Czech Airlines', 'Arkia - Israeli Airlines Ltd', 'Vueling',
       'Transavia', 'Play', 'Delta'], dtype=object)

In [304]:
airline_can_week_count = airline_cancel.groupby(['Destination', 'Week'])['Confirmed'].count()
airline_can_week_count.unstack()

Week                  29    30   31   32   33   34   35   36   37   38
Destination
Alicante             NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN
Amsterdam            3.0   5.0  NaN  4.0  NaN  1.0  3.0  4.0  8.0  9.0
Bergen               NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  2.0
Berlin Brandenburg   NaN   NaN  NaN  NaN  NaN  NaN  1.0  1.0  NaN  NaN
Bilbao               NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  1.0
Boston               1.0   7.0  2.0  1.0  NaN  NaN  NaN  1.0  2.0  2.0
Brussel              NaN   NaN  NaN  NaN  NaN  NaN  2.0  3.0  3.0  3.0
Chania               NaN   NaN  NaN  NaN  NaN  NaN  2.0  2.0  2.0  2.0
Chicago              NaN   NaN  NaN  NaN  NaN  NaN  2.0  5.0  5.0  5.0
Denver               NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0
Dublin               NaN   NaN  NaN  NaN  NaN  NaN  1.0  2.0  2.0  2.0
Dusseldorf           NaN   NaN  NaN  NaN  NaN  NaN  4.0  5.0  5.0  5.0
Frankfurt            NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  3.0  3.0
Genf                 NaN   NaN  NaN  NaN  NaN  NaN  3.0  4.0  6.0  6.0
Glasgow              NaN   NaN  NaN  NaN  NaN  NaN  2.0  2.0  2.0  2.0
Hamborg              NaN   NaN  NaN  NaN  NaN  NaN  1.0  1.0  1.0  3.0
Helsinki             NaN   2.0  NaN  1.0  NaN  1.0  4.0  3.0  6.0  5.0
Kangerlussuaq        NaN   NaN  NaN  NaN  1.0  NaN  NaN  1.0  NaN  NaN
Kaupmannahöfn        5.0  14.0  1.0  3.0  NaN  2.0  5.0  5.0  6.0  6.0
Lanzarote            NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  2.0  1.0
London Gatwick       NaN   NaN  NaN  NaN  NaN  NaN  5.0  6.0  6.0  7.0
London Heathrow      NaN   NaN  NaN  NaN  NaN  NaN  3.0  4.0  4.0  3.0
Madeira              NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN
Madríd               NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  1.0  3.0
Malaga               NaN   NaN  NaN  NaN  1.0  1.0  1.0  1.0  1.0  1.0
Manchester           NaN   NaN  NaN  NaN  NaN  NaN  2.0  1.0  1.0  1.0
Minneapolis St Paul  NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  3.0  4.0
Mílanó               NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  2.0
New York JFK         NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN
New York Newark      NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  3.0  2.0
Orlando              NaN   2.0  NaN  NaN  NaN  NaN  2.0  3.0  3.0  3.0
Osló                 1.0   3.0  NaN  3.0  NaN  1.0  7.0  6.0  6.0  5.0
París CDG            NaN   NaN  NaN  NaN  NaN  NaN  NaN  2.0  3.0  2.0
Portland             NaN   NaN  NaN  NaN  NaN  NaN  3.0  3.0  3.0  3.0
Seattle              NaN   NaN  2.0  1.0  NaN  NaN  NaN  NaN  1.0  1.0
Stokkhólmur          1.0   5.0  NaN  1.0  NaN  NaN  2.0  3.0  4.0  3.0
Tenerife South       NaN   NaN  1.0  NaN  NaN  NaN  1.0  2.0  1.0  2.0
Toronto              NaN   NaN  NaN  NaN  NaN  NaN  1.0  1.0  1.0  1.0
Vancouver            NaN   NaN  NaN  NaN  NaN  NaN  5.0  7.0  7.0  7.0
Washington Dulles    1.0   5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

## Confirmations for Airline:

In [306]:
airline_confirmed = AirlineDataframe('Icelandair', confirmed)
confirmed.Airline.unique()

array(['Lufthansa', 'Icelandair', 'Neos', 'Delta', 'Play',
       'British Airways', 'United Airlines', 'Wizz Air', 'Edelweiss',
       'Vueling', 'Transavia', 'Czech Airlines', 'Iberia Express',
       'EasyJet', 'SAS', 'Norwegian', 'Eurowings', 'Air Baltic',
       'El Al Israel Airlines Ltd.', 'Austrian',
       'Enter Air Spolka z.o.o.', 'Ryanair Ltd.', 'Atlantic Airways',
       'Arkia - Israeli Airlines Ltd', nan, 'JET2.Com',
       'Croatia Airlines'], dtype=object)

In [352]:
# airline_con_week_count = airline_confirmed.groupby(['Destination', 'Week'])['Confirmed'].count()
# airline_con_week_count.unstack()
AirlineWeekdaysDestinations('Play', cancelled)

WeekDay,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
Destination,,,,,,,
Alicante,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Berlin Brandenburg,1.0,1.0,NaN,NaN,NaN,1.0,1.0
Kaupmannahöfn,NaN,NaN,NaN,1.0,NaN,NaN,NaN
London Stansted,1.0,1.0,1.0,NaN,1.0,NaN,NaN
París CDG,1.0,1.0,1.0,NaN,NaN,NaN,1.0
Tenerife South,NaN,NaN,NaN,NaN,NaN,NaN,1.0

# Is Play succeeding Icelandair somewhere?

## Icelandair cancellations for Play destinations:

In [309]:
iceair_cancel = airline_cancel_week_count.unstack()
# iceair_cancel = iceair_cancel[iceair_can.index.isin(dest_play)]
iceair_cancel

NameError: name 'airline_cancel_week_count' is not defined

## Play confirmations:

In [295]:
play_con = airline_con_week_count.unstack()
play_con = play_con[play_con.index.isin(dest_play)]
play_con

Week                 29    30    31    32    33    34    35    36    37    38
Destination
Alicante            NaN   2.0   2.0   2.0   1.0   1.0   1.0   1.0   2.0   2.0
Barcelona           1.0   1.0   1.0   1.0   1.0   1.0   1.0   1.0   NaN   NaN
Berlin Brandenburg  2.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0   7.0
Kaupmannahöfn       1.0   6.0  20.0  18.0  21.0  19.0  16.0  16.0  15.0  15.0
París CDG           4.0  14.0  15.0  14.0  14.0  15.0  14.0  12.0  11.0  12.0
Tenerife South      1.0   2.0   2.0   2.0   2.0   2.0   2.0   2.0   4.0   3.0

## Conclusion:
It looks like Play is